@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*All*/

body {
  font-family: 'Dancing Script';
  margin: 0;
  padding: 0;
}

/*Static Page Header*/

.NavTitle,
.Info {
  background: linear-gradient(
    to right,
    #abbff5 40%,
    #da9afb,
    #fda3de,
    #fca259,
    #f7533e 60%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.NavTitle,
.Info {
  text-align: center;
}
.NavTitle {
  font-size: 3rem;
  margin: 0 15px;
  padding: 15px 0;
  text-decoration: none;
  display: block;
}
.Info {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 10px;
}

.flexReg {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.NavReg,
.NavLog {
  text-decoration: none;
  color: #da9afb;
  margin: 5px;
}

.NavReg:hover,
.NavLog:hover {
  color: #f7533e;
}
.NavLog:hover {
  border: 1px solid #f7533e;
}
.NavLog {
  border: 1px solid #da9afb;
  border-radius: 5px;
  padding: 5px;
}

.Underline {
  border-top: 1px solid #fda3de;
  width: 25%;
  margin: 0 auto;
}

/* Content Container Background */

.Wrapper {
  background-image: url('../img/sunset_bg.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  padding: 0 0 5%;
}

/*Nav Items*/
.navUl {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.397);
  margin-bottom: 4%;
}

.Nav {
  font-size: 1.5rem;
  color: #fca259;
}

.Nav:hover {
  color: #f7533e;
}

.navUl li {
  padding: 20px;
}

/* Content Container */
.Content {
  margin: auto;
  width: 65%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.678);
  height: 80%;
  overflow: hidden;
}
