.Wrapper {
    background-image: url('../img/sunset_bg.jpg');
    background-size: 100%;
    height: 100vh;
    padding: 40px;
    background-repeat: no-repeat;
}

.Content-Wrapper{
    display: flex;
    background-color: rgba(255, 255, 255, 0.678);
    height: 80%;
}

.navUl {
    width: 75%;
    list-style-type: none;
    margin: auto;
    padding: 10px;
}

.Nav {
    text-decoration: none;
    font-size: 2rem;
    color: #fca259;
}

.Nav:hover {
    color:#f7533e;
}

.navUl li {
    padding:20px;
}

.Content {
    width: auto;
    height: auto;
    overflow: hidden;
}