.header {
  text-align: center;
  font-size: 3rem;
  margin: 2% auto 5% auto;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 1px;
}

.para {
  text-align: center;
  font-size: 1em;
  margin: 10px auto;
  width: 60%;
}
